.app-logo{
    height: 100px;
}

.app-header{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    background-color:#46c3be;
    height: 150px;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.input-action-wrapper{
    width: 100%;
    display:flex;
    justify-content: center;
}
.back-button{
    background: #fff;
    color: #757575;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 35px;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.back-button.artistdetails{
    flex:1;
}